<div #mapa class="mapa-container"></div>

<div class="row">
  <div class="col-12 bg-dark">
    <label class="form-label text-white"
      >Zoom: {{ zoomLevel | number : "2.0-2" }} - Lng.Lat: [{{
        center[0] | number : "2.4-4"
      }},{{ center[1] | number : "2.4-4" }}]</label
    >
    <input
      type="range"
      class="form-range"
      data-bs-theme="dark"
      [value]="zoomLevel"
      min="1"
      max="18"
      #zoomInput
      (input)="zoomCambio(zoomInput.value)"
    />
    <div class="col-12">
      <div class="btn btn-secondary" (click)="zoomOut()">-</div>
      <div class="btn btn-secondary float-end" (click)="zoomIn()">+</div>
    </div>
  </div>
</div>
